body{
	margin: 0px;

}

.container{
	display: flex;
	height: 80px;
	background-color: #5693DD;
}	

.logo{
  	display: flex;
  	justify-content: left;
  	align-items: center;
  	color: #FFC211;
  	flex: 1;
  	padding-left: 3%;
	
 }


.navigation{
	list-style: none;
	display: flex;
	justify-content: flex-end;
	margin: 0px;
	flex-flow: row wrap;
	flex: 1;
	font-family: "Study", "Arial", sans-serif;	

}

.navlist{
	padding: 30px;
	margin-right: 35px;
	margin-bottom: 2px;
}

.artlist{
	padding: 10px;
	font-size: 28px;
}

a{
	color: white;
	font: "Study", "Arial", sans-serif;	
	text-decoration: none;
	
}		


main{
	font-family: "Study", "Arial", sans-serif;	
  	font-size: 150%;
  	text-align: center;
  	color: black;
  	flex-grow: 1;
  	display: flex;
  	flex-direction: column;
	align-items: center;
	padding-bottom: 5%;
  	background-image: linear-gradient(#B4C3D6, #F0F7FF);
	flex-basis: 100%;
}

h1{
	font-family: acier-bat-noir, "Arial", sans-serif;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

h2{
	font-family: "Baskerville", "Arial", sans-serif;
	font-size: 32px;
	font-weight:bold;

}



.artistinfo{
	font-style: normal;
	list-style: none;
	padding-left: 0px;
	padding-top: 2%
}

.right{
	display: flex;
  	flex-direction: row;
  	flex: 1 1 0;
  	width: 79%;
  	text-align: left;
  	font-size: 24px;
  	flex: 1;
	flex-basis: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

a:hover {
	color: black;
}

footer{
	justify-content: center;
	background-color: #5693DD;
	margin: 0px;
	color: white;
	display: flex;
	height: 80px;
	font-size: 22px;
	flex-direction: row;
	height: 10vh;
	display: flex;

}

/*Custom CSS for the artist page*/
.artist_image{
	float: right;
	size: 200px;
	margin-left: 20px;
}

/*custom CSS for image zoom*/
.zoom{
	display:flex;
}
.main-image{
	margin-right: 10px;
}

.main-image img{
	weight: 600px;
	height: 400px;
}




	








