*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	
}
html{
	scroll-behavior: smooth;
}

body{
	background: #FFFFFF;
	color: #111010;
}

.container{
	padding: .2px 10%;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	

}
header {
	position: sticky;
	top: 0;
	background-color: #FFFFFF;
	z-index: 100; /* Ensure the header is above the content */
}

/* Hide the navbar */
header.hide {
  transform: translateY(-100%);
}

/* Transition effect */
header {
  transition: transform 0.3s ease;
}

.portfolio{
	display: flex;
	flex: 0 0 auto
}	

	.logo {
	  width: 80px;
	  padding: 10px;
	}

.image{
	height: 60%;
	width: 50%;
}

.navigation{
	list-style: none;
	display: flex;
	justify-content: center;
	margin: -32px;
	flex-flow: row wrap;
	flex: 1;
	padding-left: 25%;

}

.navlist{
	padding: 20px 0px 2px 0px; 
	margin-right: 35px;
	margin-bottom: 30px;
	position: relative;
	font-size: 24px;
}



a{
	color: #7c1034;
	text-decoration: none;

	
}	
.navlist::after{
	content:'';
	width:0;
	height:3px;
	background:#111010;
	position: absolute;
	left: 0;
	bottom: -1px;
	transition: 0.5s;

}

.navlist:hover::after{
	width:100%;

}

.text{
	margin-top: 8%;
	font-size: 30px;
}

.text h1{
	font-size: 45px;
	margin-top: 5%;
	line-height: 0;

}

.text h1 span{
	color: #111010;
}

.text p1{
	font-size: 26px;
	margin-top: 25%;
	line-height: 4;
}

#about{
	padding: 80px 0;
	color:#ababab;
}

.row{
	display:inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-col-1{
	flex-basis: 35%;
}

.about-col-1 {
    position: relative; /* Required for absolute positioning of pseudo-element */
}

.about-col-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #7c1034 40%, #7c1034 10%, rgba(124, 16, 52, 0.6)); /* Gradient colors */
   z-index: -2; /* Ensure the gradient is above the image */
   border-radius: 30px;
}

.about-col-1 img {
    display: block; /* Make sure the image is a block element */
    width: 100%;
    height: auto;
    z-index: 2; /* Ensure the image is above the gradient */
    border-radius: 15px;
}


.about-col-2{
	flex-basis: 60%;
}

.sub-title{
	font-size: 50px;
	font-weight: 600;
	color: #111010;
	padding-top: 50px;
	padding-bottom: 50px;
}

.tab-titles{
	display: flex;
	margin: 20px 0px 40px;

	}

.tab-links{
	margin-right: 50px;
	font-size: 20px;
	font-weight: 500;
	cursor:pointer;
	position: relative;
	color: #7c1034;
}

.tab-links::after{
	content: '';
	width:0;
	height: 3px;
	background: #111010;
	position: absolute;
	left:0;
	bottom: -8px;
	transition: 0.5s;
}

.tab-links.active-link::after{
	width:100%;
}

.tab-contents ul li{
	list-style: none;
	margin: 10px 0;
	font-size: 14px;

}

.tab-contents ul li span{
	color: #b54769;
	font-size: 18px;
}

.tab-contents{
	display: none;
}

.tab-contents.active-tab{
	display: block;

}

.hero-image {
    width: 100%; 
    height: auto; 
    display: block;
    margin: 0 auto; 
}



/*---------portfolio----------*/
.portfolio{
	padding: 10px 0;
}

.work-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;


}
.portfolio-title{
	padding-top: 160px;
	font-size: 50px;
}

.about-me-title{
	padding-bottom: 40px;
	font-size: 50px;
	color: #111010;
}


.work{
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.work-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; /* Adjust spacing between groups as needed */
}

.work img{
	 width: auto; /* Ensures the image width is automatically determined */
    height: auto; /* Ensures the image height is automatically determined */
    max-width: 90%; /* Limits the maximum width of the image to the container width */
    max-height: 90%; /* Limits the maximum height of the image to the container height */
/*	width: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;*/
}

.layer h3{
	font-weight: 500;
	margin-bottom: 20px;
	text-align: center;
}

.layer a{
	margin-top: 20px;
	color: #7c1034;;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	background: #111010;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
}
/*
.work:hover img{
	transform: scale(1.5);
}

.work:hover .layer{
	height: 100%;
}*/

.work {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.work img {
    width: 100%;
    height: auto;
    transition: filter 0.5s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Align overlay to the left half of the image */
    height: 50%;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
    padding: 20px; /* Add padding for better readability */
}

.work:hover::after {
    opacity: 0.2; /* 20% transparency */
}

.work:hover img {
    filter: blur(5px) brightness(80%) saturate(120%);
    transition: filter 0.3s ease; /* Smooth transition */

}

.work:hover .overlay {
    opacity: 1;
}

.title {
    font-size: 24px;
    margin-bottom: 10px; /* Add some space between title and subtitle */
}

.subtitle {
    font-size: 18px;
}

.work .text-container {
    background: linear-gradient(to bottom, #d5eff2, rgba(255,255,255,1)); /* Gradient colors */
    display: inline-block; /* Ensure the gradient only covers the text */
    border-radius: 15px; /* Adjust the value to control the curvature */
    padding: 10px 20px; /* Add padding for spacing */
      color: #7c1034;; 
    font-family: 'Comic Sans MS', cursive; 
}

.container-style {
    background: linear-gradient(to bottom, #d5eff2, rgba(255,255,255,1)); /* Gradient colors */
    display: inline-block; /* Ensure the gradient only covers the text */
    border-radius: 15px; /* Adjust the value to control the curvature */
    padding: 10px 20px; /* Add padding for spacing */
      color: #7c1034;; 
    font-family: 'Comic Sans MS', cursive; 
}

.work .title,
.work .subtitle {
    margin: 0; /* Remove default margin */
}

/* Typing animation */
@keyframes typing {
    from {
        width: 0;
    }
}

.work .title::after,
.work .subtitle::after {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    width: 0;
    overflow: hidden;
    animation: typing 1.5s steps(20, end) forwards;
}

.work .title::after {
    animation-delay: 0.5s; /* Delay for the typing effect */
}

.work .subtitle::after {
    animation-delay: 1s; /* Delay for the typing effect */
}



.btn{
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid #d5eff2;
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: #d5eff2;
	transition: background 0.5s;
	background: #7C1034;
	color: white;

}

.btn:hover{
	background: #d5eff2;

}

.btn2:hover{
	background: #d5eff2;

}

/*---------contact----------*/

.contact{
	padding-top: 70px;

}
contact-left{
	flex-basis: 35%;
	padding-top: 100px;
}


.contact-right{
	flex-basis: 60%;
}

.contact-left p i{
	color: #d5eff2;
	margin-right: 15px;
	font-size: 25px;

}

.social-icons{
	margin-top: 30px;

}

.social-icons a {
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: #ababab;
	display: inline-block;
	transition: transform 0.5s;
	color: #d5eff2;

}
	
.social-icons a:hover{
	color: #7C1034;
	transform: translateX(-5px);
}

.btn.btn2{
	display: inline-block;
	background: #7C1034;
	color: white;
}

.contact-right form{
	width: 100%;

}

form input, form textarea{
	width: 100%;
	border: 0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin: 15px 0;
	color: #white;
	font-size: 18px;
	border-radius: 6px;
	color: white;

}


form btn2{
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;

}

.copyright{
	width: 100%;
	text-align: center;
	padding: 25px 0;
	background: #262626;
	font-weight: 300;
	margin-top: 20px;
	position: sticky;
    top: 100vh;
    color: white;
	}

/*---------css for small screen----------*/

i.fas.fa-times,
i.fas.fa-bars {
    display: none;
}

@media only screen and (max-width: 600px){

	

	i.fas.fa-times,
	i.fas.fa-bars {
		display: block;
		font-size: 25px;
	}

	.text {
		margin-top: 4%;
		font-size: 16px;
	}
.text h1 {
		font-size: 12px;
		margin-top: 2%;
		line-height: 1;
	}

	.text h1 span {
		color: #d5eff2;
		font-size: 12px;
		margin-top: 2%;
		line-height: 1;
	}
	.logo {
	  width: 80px;
	  padding: 15px;
	}

	.text p1 {
		font-size: 12px;
		margin-top: 25%;
		line-height: 2;
	}
   .navigation {
   
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    background: #d5eff2; 
    z-index: 2;
    transition: right 0.5s;
}

    .nav ul li {
    	display: block;
    	margin: 25px;
    	background: #d5eff2; 
    }

    .nav ul. fas{
    	position: absolute;
    	top: 25px;
    	left: 25px;
    	cursor: pointer;
    }
    .sub-title{
    	font-size: 30px;
    }
    .about-col-1, .about-col-2{
    	flex-basis: 100%;


    }
    .about-col-1{
    	margin-bottom: 30px;
    	

    }

    .about-col-{
    	font-size: 14px;
    	

    }

    .tab-links{
    	font-size: 16px;
    	margin-right: 20px;
    	color: #7c1034;

    }
    .contact-left, .contact-right{
    	flex-basis: 100%;
    }

    .copyright{
    	font-size: 14px;

    
    }

    #msg{
    	color: 61b752;
    	margin-top: -40px;
    	display: block;


    }